<div class="card shadow">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold"><b>Olá! Caso tenha problemas, aqui encontrará ajuda. </b>&#128512;
            <button type="button" class="btn btn-primary float-right" data-dismiss="modal" aria-label="Fechar">
                <i class="fas fa-times"></i>
            </button>
        </h3>
    </div>
    <div class="card-body">
        <div class="card shadow mb-4">
            <a href="#conta" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="conta">
                <h6 class="m-0 font-weight-bold text-primary">Github?</h6>
            </a>
            <div class="collapse show" id="conta">
                <div class="card-body">
                    <p class="text-paragraph">Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae</p>
                </div>
            </div>
        </div>
        <div class="card shadow mb-4">
            <a href="#venda" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="venda">
                <h6 class="m-0 font-weight-bold text-primary">Desenvolvimento web?</h6>
            </a>
            <div class="collapse" id="venda">
                <div class="card-body">
                    <p class="text-paragraph">Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae
                        Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae.</p>
                    <p class="text-paragraph">Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae
                        Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae.</p>
                </div>
            </div>
        </div>
        <div class="card shadow mb-4">
            <a href="#prestacao-contas" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="prestacao-contas">
                <h6 class="m-0 font-weight-bold text-primary">Front-end (html e css)?</h6>
            </a>
            <div class="collapse" id="prestacao-contas">
                <div class="card-body">
                    <p class="text-paragraph">Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae
                        Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae</p>
                </div>
            </div>
        </div>
        <div class="card shadow mb-4">
            <a href="#uso-valor" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="uso-valor">
                <h6 class="m-0 font-weight-bold text-primary">back-end(API PHP)?</h6>
            </a>
            <div class="collapse" id="uso-valor">
                <div class="card-body">
                    <p class="text-paragraph">Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae
                        Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae</p>
                </div>
            </div>
        </div>
        <div class="card shadow mb-4">
            <a href="#beneficados" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="beneficados">
                <h6 class="m-0 font-weight-bold text-primary">Boas práticas e sobre o curso?</h6>
            </a>
            <div class="collapse" id="beneficados">
                <div class="card-body">
                    <p class="text-paragraph">Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae
                        Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae </p>
                    <p class="text-paragraph">Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae
                        Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae</p>
                    <ul>
                        <li class="text-paragraph">Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae
                            Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae;</li>
                        <li class="text-paragraph">Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae
                            Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae;</li>
                        <li class="text-paragraph">Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae
                            Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae;</li>
                        <li class="text-paragraph">Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae
                            Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae;</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card shadow mb-4">
            <a href="#aprovacao" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="aprovacao">
                <h6 class="m-0 font-weight-bold text-primary">Dúvidas?</h6>
            </a>
            <div class="collapse" id="aprovacao">
                <div class="card-body">
                    <p class="text-paragraph">Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae
                        Lorem ipsum litora quam posuere taciti inceptos tempus, donec aptent suscipit morbi tincidunt nam dapibus vitae</p>
                </div>
            </div>
        </div>
    </div>
</div>