<div id="alert" class="alert alert-warning shadow">
    <button type="button" class="close" id="close-alert">&times;</button>
    <spam id='message'></spam>
</div>

<style>
    #alert {
        position: fixed;
        top: 50%;
        left: 25%;
        width: 50%;
        z-index:9999; 
        text-align: center;
    }
</style>

<div class="card shadow">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold">Formulário de inscrição
            <button type="button" class="btn btn-primary float-right" data-dismiss="modal" aria-label="Fechar">
                <i class="fas fa-times"></i>
            </button>
        </h3>
    </div>
    <div class="card-body">

        <!-- formulario da empresa -->
        <div class="card shadow mb-4">
            <a href="#etapa1" class="d-block card-header py-3" data-toggle="collapse" aria-expanded="false" aria-controls="etapa1">
                <h6 class="m-0 font-weight-bold text-primary">1. Dados da primeira etapa<h6>
            </a>
            <div class="collapse show" id="etapa1">
                <div class="card-body" id="etapa1-form-body"></div>
            </div>
        </div> 

        <!--  formulario do dados profisisionais da empresa -->
        <div class="card shadow mb-4">
            <a href="#etapa2" class="d-block card-header py-3" data-toggle="collapse" aria-expanded="false" aria-controls="etapa2">
                <h6 class="m-0 font-weight-bold text-primary">2. Dados da segunda etapa</h6>
            </a>
            <div class="collapse" id="etapa2">
                <div class="card-body" id="etapa2-form-body"></div>
            </div>
        </div>
        <!--  formulario de localidade-->
            <div class="card shadow mb-4">
                <a href="#etapa3" class="d-block card-header py-3" data-toggle="collapse"  aria-expanded="false" aria-controls="etapa3">
                    <h6 class="m-0 font-weight-bold text-primary">3. Dados da terceira etapa</h6>
                </a>
                <div class="collapse" id="etapa3">
                    <div class="card-body" id="etapa3-form-body"></div>
                </div>
            </div>
    </div>
</div>
<script src="js/inscricao-form.js"></script>